$border-dark: rgba(0, 0, 0, 0.1);

.main-container {
  display: flex;
}

.left-pane-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  .left-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
  }
}

.main-pane-container {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;

  .main-pane {
    display: flex;
    justify-content: space-between;
  }
}

.middle-section {
  width: 600px;
}

.shrink-1 {
  flex-shrink: 1;
}

.grow-1 {
  flex-grow: 1;
}

.right-section {
  width: 350px;
  margin-left: 30px;
  z-index: 1;
  position: relative;
  & > * {
    margin-bottom: 10px;
    border-radius: 20px !important;
    text-align: left;
  }

  .right-section-title {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 12px 16px 12px 0px;
  }
}

.trend {
  .trend-category,
  .trend-tweets-count {
    font-size: 0.8rem;
  }

  .trend-title {
    font-weight: bold;
  }

  padding: 12px 16px 12px 0px;
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.suggestions {
  .suggestion {
    .suggestion-avatar {
      margin-right: 10px;
    }

    .suggestion-user-wrapper {
      .suggestion-user {
        .suggestion-user-name {
          font-weight: bold;
        }

        .suggestion-user-tag {
          font-size: 0.8rem;
        }

        padding: 12px 0 12px 0;
      }

      flex-basis: 100%;
      align-items: center;
    }

    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  align-items: left;
}

.btn {
  background-color: black;
  color:white;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 1px 15px 1px 15px;
  border-radius: 30px;
  font-size: 0.9rem;
  border-color: $border-dark;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.menu-item {
  font-size: 1.2rem;
}

.tweet-wrapper {
  display: flex;
  flex-direction: column;
  border-width: 0.5px;
  border-style: solid;
  border-color: $border-dark;
  border-collapse: collapse;
  padding: 10px 16px 10px 16px;
  font-size: 0.94rem;
  flex-grow: 1;

  &:hover {
    cursor: pointer;
  }

  .tweet-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;

    .tweet-buttons {
      display: flex;
      justify-content: space-around;
      margin: 0 0 6px 0;

      .tweet-button {
        :first-child {
          margin-right: 10px;
        }

        display: flex;
        align-items: center;
      }
    }
    .tweet-header {
      display: flex;
      margin-bottom: 2px;

      * {
        padding: 0 5px 0 0;
      }

      :nth-child(2)::after {
        content: " ·";
      }

      .tweet-author-tag {
        line-height: 17.5px;
        font-size: 0.83rem;
      }
    }
    .tweet-message {
      margin-bottom: 20px;
    }
  }

  .tweet-author-avatar {
    margin-right: 12px;
  }
}

.menu-item svg {
  margin-right: 10px;
}

.user-infos {
  display: flex;
  flex-direction: column;
  padding: 10px 16px 10px 16px;
  .user-name-wrapper {
    .user-nickname {
      font-size: 1.3rem;
    }
  }
  .user-subs-infos {
    display: flex;
    justify-content: flex-start;

    .user-subscribed-to {
      margin-right: 10px;
    }
  }
}

.user-profile {
  border-width: 1px;
  border-style: solid;
  border-color: $border-dark;
  border-collapse: collapse;

  .user-banner {
    position: relative;

    .user-profile-pic {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 250px;
    }
  }

  .user-profile-avatar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }

  & > *,
  .user-infos > * {
    margin-bottom: 10px;
  }
}

.login-wrapper {
  display: flex;
  height: 100vh;
  .login-image {
    background: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
    flex-grow: 2;
  }

  .login-credentials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .login-wrapper {
    flex-direction: column-reverse;
  }

  .login-image {
    flex-grow: 3 !important;
  }

  .login-credentials-wrapper {
    padding-bottom: 0 !important;
  }
}
.user-relations {
  margin-left: 28px;
  position: relative;
  bottom: 5px;
  display: flex;
  align-items: center;

  & > svg {
    max-height: 20px;
  }
}

.search-results {
  position:absolute;
  width: 350px;
  background-color: white;
  top:60px;
  right:0;
  z-index: 1;

  border-radius: 0 !important;

}
.search-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.dm-container {
  display: flex;
}

.h1-header {
  font-size: 64px;
}

.h2-header {
  font-size: 31px;
}

.login-credentials {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.btn-edit-profile {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.MuiTabs-flexContainer {
  justify-content: space-around;
}

img {
  max-width: 300px;
}

ul a {
  color: inherit;
}
.tweets.css-h4y409-MuiList-root {
  padding-bottom: 0;
}



.editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor {
  width: inherit;
}

video {
  max-width: 500px;
  height: auto;
  max-height: 400px;
}

textarea {
  resize: none;
}

.editor-buttons {
  button {
  background-color: transparent;
  border: 1px solid $border-dark;
  color: black;

  &:hover {
    cursor: pointer;
  }
  }
}

button {
  color: white;
}

.file-error {
  position: absolute;
  bottom:5%;
  left: 30%;
  right: 30%;
  background-color: cyan;
  color: white;
  padding:20px;
  z-index: 2;
}

.DMs-list {
  display: flex;
  flex-direction: column;
  .DM-item {
    display: flex;
    padding: 15px 5px 15px 5px;
     & > span:not(:first-child){
      padding-left: 10px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04) !important;
      cursor: pointer;
    }
  }
}


.selected-DM {
  display: flex;
  flex-direction: column;
  .DM-header {
    display: flex;
    & > h1> span:not(:first-child)::before{
      content: ', '
    }
  }
  
  .DM-header-container {

    padding-left: 10px;
    border-bottom: 1px solid black;

  }
  .DM-messages {
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: auto;
    padding: 10px;

    div:first-child {
      display: flex;
    }

    .message-wrapper {
      display: flex;
      margin-top: 20px;
      .message-header {
        display: flex;
        padding-right: 10px;
      }
      .message-content {

        border: 1px solid solid;
        border-radius: 5px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
      }
    }
  }
}


.selected-recipients {
  display: flex;
}

.recipient-item {
  display: flex;
  align-items: center;
  border: 1px solid silver;
  border-radius: 40px;
  padding: 0 5px 0 0;
}
.dm-modal-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  .dm-modal-title {
    font-size: 21px;
    font-weight: bold;
  }
}

.no-padding {
  padding: 0 !important;
}

.current-dm {
  width: 600px;
}

.dm-list-container {
  width: 380px;
  padding: 10px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-collapse: collapse;
}

.write-message {
  margin: 10px;
}