.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-pane-container {
  display: flex;
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
}

.main-pane {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section {
  flex-basis: 70%;
}

.right-section>* {
  margin-bottom: 10px;
  flex-basis: 30%;
  border-radius: 20px !important;
  text-align: left;
}

.right-section-title {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 12px 16px 12px 0px;

}

.trend {

  .trend-category,
  .trend-tweets-count {
    font-size: 0.8rem;
  }

  padding: 12px 16px 12px 0px;

}

.trend-title {
  font-weight: bold;
}

.trend {
  width: 100%;
}

.suggestions {

  .suggestion {

    .suggestion-avatar {
      margin-right: 10px;
    }

    .suggestion-user-wrapper {

      .suggestion-user {

        .suggestion-user-name {
          font-weight: bold;
        }

        .suggestion-user-tag {
          font-size: 0.8rem;
        }

        padding: 12px 0 12px 0
      }

      flex-basis: 100%;
      align-items: center;
    }

    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  display: flex;
  flex-direction: column;
  align-items: left;
}

.btn {
  background-color: black;
  color:white;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 1px 15px 1px 15px;
  border-radius: 30px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

.menu-item {
  font-size: 1.2rem;
}

.tweet-header {
  display: flex;
}

.tweet-wrapper {
  display: flex;
  max-width: 600px;
}