.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-pane-container {
  display: flex;
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
}

.main-container > * {

}

.main-pane {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section {
  flex-basis: 70%;
}
.right-section > * {
  margin-bottom: 10px;
  flex-basis: 30%;

}